styx-client/protobuf-2.5.0/vsprojects/Debug
styx-client/protobuf-2.5.0/vsprojects/Release
styx-client/protobuf-2.5.0/vsprojects/x64
styx-client/styx-client/Debug
styx-client/styx-client/Release
styx-client/styx-client/x64
styx-client/Debug
styx-client/Release
styx-client/x64
styx-client/styx-client/*.pb.*
styx-server/.idea
styx-server/.idea_modules
styx-server/src/main/java
styx-server/project/target
styx-server/target
*.opensdf
*.sdf
*.suo
*.user
